
fastapi
uvicorn
SQLAlchemy
python-jose
passlib[bcrypt]
pydantic
python-dotenv
asyncpg
pydantic-settings
pydantic[email]
requests
httpx
langchain-openai
langchain-core
langgraph
twilio
bcrypt==4.0.1
passlib[bcrypt]==1.7.4

